<div class="spacer"></div>

<div class="box box1">
	<div class="inner">
		<div class="text-container">
			<h1>Welcome!</h1>
			<h2>Swáel!</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="inner">
		<div>
			<h1>Tengu in Galáthé</h1>
			<br />
			<p>Esi galataca atebia tengua sena indias brogias galatacias auuot inte nouion ris bitou nouiou indos cantaios uoconti cintos.&#13;&#10;</p>
			<p>Esi Galáthach hAthevíu tengu sen in brói Galáthach, ávóthu in nhói ri vithu nói in aiu'chan gwochon cin.&#13;&#10;</p>
			<p>“Modern Gaulish is the old language of the Gaulish country, made anew for the new world of the twentyfirst century”.</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="inner">
		<div>
			<h1>Welcome to the homepage of Galáthach hAthevíu, the modern Gaulish language.</h1>
			<br />
			<p>The Gaulish language is the earliest recorded language of western Europe, and can therefore be considered its aboriginal language. It is a Celtic language closely related to Welsh, Cornish and Breton, and more distantly to Irish, Scottish Gaelic and Manx. It became extinct in the middle ages, and is currently undergoing a revival. This website presents to the world the complete grammar of the modernised and revived 21st century version of the Gaulish language. Enjoy.</p>
		</div>
	</div>
</div>
