@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext);

body {
  background-color: #19413C !important;
}

::-moz-selection { /* Code for Firefox */
    background: rgba(212, 171, 29, 0.5);
}

::selection { 
    background: rgba(212, 171, 29, 0.5);
}

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  height:50px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #19413C;
}

@media (max-width: 768px) {
  .navbar-brand-link {
    width: 75% !important;
  }
}

.navbar-brand-link {
  display: flex;
  width: auto;
}

@media (max-width: 768px) {
  .navbar-middle-left {
    display: none !important;
  }
  
  .navbar-middle-right {
    display: none !important;
  }
}

.navbar-middle-left {
  margin-right:auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:auto;
}

.navbar-middle-left p {
  margin-top: 15px;
}

.navbar-middle-left select {
  height: 50px;
}

.navbar-middle-right {
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:auto;
}

.navbar-middle-right p {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .navbar-button {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar-button {
    width: 25% !important;
  }
}

.navbar-button {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

@media (min-width: 768px) {
  .breakpoint-collapse-container {
    display: none;
  }
}

.breakpoint-collapse-container {
  background-color: #19413C;
  border-top: 1px solid #D4AB1D;
  padding-top: 5px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: auto;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.breakpoint-collapse-container p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #D4AB1D;
}

.collapse-link {
  margin-left: 15px;
}

.navbar-toggle-button {
  margin: 3px;
  margin-right: 10px;
  align-self: flex-end;
  width:55px;
  height:35px;
  border-radius:6px;
  background-color: #19413C;
  border:none;
}

.navbar-toggle-button:focus {
  outline: none;
}

span.glyphicon-menu-hamburger {
    display:inline-block;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
    font-size: 1.6em;
    color: #D4AB1D;
}

.grammar-dropdown {
  padding-left: 10px;
  background: none;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.grammar-dropdown:focus {
  background-color: #0e2421;
  outline: none;
}

.grammar-dropdown:hover {
  color: white;
  text-decoration: underline;
}

.dropdown-group {
  border: none;
}

.spacer {
  height: 50px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.categories {
  width: 100%;
}

.category-container {
  display:flex;
  flex-direction:row;
  padding-top: 5px;
  background-color: #0e2421;
  width: 100%;
  border-radius: 6px;
  word-wrap: break-word;
}

.post-user-info {
  width: 25%;
  height: 100%;
  padding-right: 5px;
  border-right: 1px solid #D4AB1D;
}

.post-container {
  width: 75%;
  height: 100%;
}

.category-container h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #D4AB1D;
}

.category-container h2 a {
  font-family: 'Lobster', cursive !important;
  // font-family: 'lobster_1.3regular' !important;
  color: #D4AB1D !important;
}

.category-container p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #D4AB1D;
}

.category-container h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #D4AB1D;
  font-size: 18px;
}

.category-container small {
  color: #D4AB1D;
  font-style: italic;
}

.box1 {
  background-color: #19413C;
  position: relative;
  text-align: center;
  width:100%;
}

.box h1 {
  font-family: 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  color: #D4AB1D;
}

.box h2 {
  font-family: 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  color: #D4AB1D;
}

.box h3 {
  color: #D4AB1D;
}

.box p {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.box li {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.box h1 a {
  color: #D4AB1D;
}

.text-container {
  text-align: center;
}

.box2 {
  background-color: #0e2421;
  position: relative;
  text-align: center;
  width:100%;
}

.inner {
  height: auto;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_form i {
  color: #D4AB1D;
  font-style: italic;
}

.dashboard {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.dashboard small {
  color: #D4AB1D;
  font-style: italic;
}

.dashboard-header {
  height:auto;
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-header-title {
  height: auto;
  width: 75%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-header-image {
  height: 100%;
  width: 25%;
  display:flex;
  justify-content: flex-end;
  align-items: center
}

.dashboard-content {
  height: auto;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.dashboard-options {
  text-align: left;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

.dashboard-stats {
  text-align: right;
  display:flex;
  flex-direction:column;
  justify-content: flex-end;
}

.next {
  min-height: 10%;
  min-height: 10vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

span.glyphicon-chevron-down {
  font-size: 1.6em;
  color: #D4AB1D;
}

.manifest {
  height: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  max-height: auto;
}

.forum-box {
  min-height: auto !important;
}

.clr {
  clear:both;
}

#user_alert {
    position:fixed;
    top:50px;
    width:100%;
    z-index: 9999;
    height: 50px;
    padding: 13px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#navbar-brand-id {
  margin-top: -10px;
  font: 32px/42px 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  font-size: 32px/42px;
  color: #D4AB1D;
}

#navbar-brand-id:hover {
  color: white;
}

#navbar-toggle-id:hover {
  background-color: white;
}

#nav-link-id {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#nav-link-id:hover {
  color: white;
}

#dropdown-toggle-id {
  margin-top: 7px;
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#dropdown-toggle-id:hover {
  color: white;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19413C;
}

.header h1 {
  font-family: 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  color: #D4AB1D;
}

.header-half {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row !important;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #19413C; 
}

.header-half-2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19413C;
}

.header-half-2 h1 {
  font-family: 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  color: #D4AB1D;
}

.header-half h1 {
  font-family: 'Lobster', cursive;
  // font-family: 'lobster_1.3regular';
  color: #D4AB1D;
}

.small-spacer {
  height: 40px;
  width: 100%;
}

.modal-body {
  border-color: #D4AB1D !important;
  background-color: #19413C !important;
}

.modal-header {
  border-color: #D4AB1D !important;
  background-color: #19413C !important;
}

.modal-footer {
  border-color: #D4AB1D !important;
  background-color: #19413C !important;
}

#modal-diag-center {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 90%;
}

.modal-title {
  font-family: 'Lobster', cursive !important;
  // font-family: 'lobster_1.3regular' !important;
  color: #D4AB1D !important;
}

.btn-default {
  border-color: #0e2421 !important;
  background-color: #0e2421 !important;
}

.btn-default:hover {
  background-color: #071211 !important;
}

.btn:focus {
  outline: none !important;
}

label {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.user_form a {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.user_form a:hover {
  color: white;
}

input {
  border: none;
  outline-color: #0e2421;
  background-color: #0e2421;
}

input:focus {
  outline-color: #D4AB1D;
}

input, select, textarea {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

textarea:focus, input:focus {
    color: #D4AB1D;
}

.btn-primary {
  color: white !important;
  background-color: #D4AB1D !important;
  border-color: #D4AB1D !important;
}

.btn-primary:hover {
  background-color: #ba9619 !important;
  border-color: #ba9619 !important;
}

.user_form em {
  color: #D4AB1D;
}

button, input, optgroup, select, textarea {
    color: #D4AB1D !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #0e2421 inset !important;
    -webkit-text-fill-color: #D4AB1D !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #0e2421 inset !important;
    -webkit-text-fill-color: #D4AB1D !important;
}

.field textarea {
  border: none;
  outline-color: #0e2421;
  background-color: #0e2421
}

.field textarea:focus {
  outline-color: #D4AB1D;
}
