@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700i&subset=latin-ext);

::-moz-selection { /* Code for Firefox */
    background: rgba(212, 171, 29, 0.5);
}

::selection { 
    background: rgba(212, 171, 29, 0.5);
}

.spacer {
  height: 30px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.box1 {
  background-color: #27503C;
  position: relative;
  text-align: center;
  width:100%;
}

.box h1 {
  font-family: 'Lobster', cursive;
  color: #DAB82A;
}

.box h2 {
  font-family: 'Lobster', cursive;
  color: #DAB82A;
}

.box p {
  color: #DAB82A;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.box2 {
  background-color: #397558;
  position: relative;
  text-align: center;
  width:100%;
}

.inner {
  min-height:100%;
  min-height: calc(100vh - 30px);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  min-height: calc(100vh - 30px);
  max-height: auto;
}

.clr {
  clear:both;
}

#user_alert {
    position:fixed;
    top:50px;
    width:100%;
    z-index: 9999;
    height: 50px;
    padding: 13px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar#navbar-id {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  background-color: #27503C;
  border-color: #27503C;
}

#navbar-brand-id {
  margin-top: -10px;
  font: 32px/42px 'Lobster', cursive;
  color: #DAB82A;
}

#navbar-toggle-id {
  border-color: transparent;
  background-color: #DAB82A;
}

#icon-bar-id {
  background-color: #27503C;
}
