@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext);

::-moz-selection { /* Code for Firefox */
    background: rgba(212, 171, 29, 0.5);
}

::selection { 
    background: rgba(212, 171, 29, 0.5);
}

.spacer {
  height: 30px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.box1 {
  background-color: #19413C;
  position: relative;
  text-align: center;
  width:100%;
}

.box h1 {
  font-family: 'Lobster', cursive;
  color: #D4AB1D;
}

.box h2 {
  font-family: 'Lobster', cursive;
  color: #D4AB1D;
}

.box p {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.box2 {
  background-color: #0e2421;
  position: relative;
  text-align: center;
  width:100%;
}

.inner {
  min-height:100%;
  min-height: calc(100vh - 30px);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 30px);
  max-height: auto;
}

.clr {
  clear:both;
}

#user_alert {
    position:fixed;
    top:50px;
    width:100%;
    z-index: 9999;
    height: 50px;
    padding: 13px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar#navbar-id {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  background-color: #19413C;
  border-color: #19413C;
}

#navbar-brand-id {
  margin-top: -10px;
  font: 32px/42px 'Lobster', cursive;
  color: #D4AB1D;
}

#navbar-brand-id:hover {
  color: white;
}

#navbar-toggle-id {
  border-color: transparent;
  background-color: #D4AB1D;
}

#navbar-toggle-id:hover {
  background-color: white;
}

#icon-bar-id {
  background-color: #19413C;
}

#bs-example-navbar-collapse-1 {
  border-color: #D4AB1D;
}

#nav-link-id {
  margin-top: 7px;
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#nav-link-id:hover {
  color: white;
}

#dropdown-toggle-id {
  margin-top: 7px;
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#dropdown-toggle-id:hover {
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #0e2421 !important;
}

.dropdown-menu {
  background-color: #19413C !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #19413C !important;
}

.header {
  width: 100%;
  min-height: 25vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19413C;
}

.header h1 {
  font-family: 'Lobster', cursive;
  color: #D4AB1D;
}

label {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.user_form a {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.user_form a:hover {
  color: white;
}

input {
  border: none;
  outline-color: #0e2421;
  background-color: #0e2421;
}

input:focus {
  outline-color: #D4AB1D;
}

input, select, textarea {
  color: #D4AB1D;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

textarea:focus, input:focus {
    color: #D4AB1D;
}

.btn-primary {
  color: white !important;
  background-color: #D4AB1D !important;
  border-color: #D4AB1D !important;
}

.btn-primary:hover {
  background-color: #ba9619 !important;
  border-color: #ba9619 !important;
}

.user_form em {
  color: #D4AB1D;
}

button, input, optgroup, select, textarea {
    color: #D4AB1D !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #0e2421 inset !important;
    -webkit-text-fill-color: #D4AB1D !important;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #0e2421 inset !important;
    -webkit-text-fill-color: #D4AB1D !important;
}
