<div class="spacer"></div>

<div class="box box1">
	<div class="inner">
		<br />
		<div class="categories">
			<% @categories.each do |category| %>
				<div class="category-container">
					<h1><%= link_to category.name, category_path(category) %></h1><br />
					<p><%= category.description %></p><br />
				</div>
				<br />
			<% end %>
		</div>
	</div>
</div>
