<div class="spacer"></div>

<div class="header">
	<div>
		<h1>1. Introduction</h1>
	</div>
</div>

<div class="box box1">
	<div class="inner">
		<div>
			<h2>The Gaulish Language</h2>
			<br />
			<p>
			   This document presents the revival of the Gaulish 
			   language. Gaulish is a Celtic language which was 
			   spoken widely throughout Western Europe from at 
			   least the seventh century BCE, when it was first 
			   attested, until the sixth century CE, when it was 
			   last attested. Its range covered the areas west and 
			   south of the Rhine, east of the Atlantic, north of 
			   the Pyrenees, throughout the Alps from west to east, 
			   south of the Alps into the Po valley, and eastwards 
			   into the Balkans and the Hungarian Plain. Through 
			   immigration it was carried into Asia Minor in the 
			   fourth century BCE and survived there at least 
			   until the fourth century CE. In the first century 
			   CE it was recorded by Tacitus as being virtually 
			   identical to and mutually intelligible with the 
			   language of the British Isles (referred to as 
			   Brittonic), which would later develop into the 
			   Welsh, Cornish and Breton languages. In the 
			   framework of the Celtic language family, Gaulish 
			   is also, but more distantly, related to Irish, and 
			   its daughter languages Scottish Gaelic and Manx. 
			   The area in which Gaulish was spoken was conquered 
			   by the Romans between approximately 150 BCE and 52 
			   BCE, and incorporated into the Roman Empire. The 
			   language was put under pressure by Latin, first as 
			   used by the administration and military of the 
			   Empire, then as used by the state enforced 
			   christian religion, and finally by the early 
			   medieval christian church. Eventually the language 
			   gave way to a variety of Romance and Germanic 
			   languages, and ceased to be spoken.
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="inner">
		<div>
			<h2>Reconstruction</h2>
			<br />
			<p>
			   The Gaulish language is reasonably well attested, 
			   if imperfectly. There is a certain amount of 
			   recorded material available, and new material 
			   continues to be unearthed at a steady pace (e.g. 
			   the Chartres find, discovered early 2012). 
			   Drawing on the existent available material, and 
			   making use of the surviving Brittonic languages, 
			   as well as the Gaelic languages, for support and 
			   comparitive studies of such things as vocabulary, 
			   semantics and grammatic structure, a modernised 
			   version of the Gaulish language is here presented. 
			   Departing from the state in which Gaulish was 
			   last attested, that is Late Gaulish, the language 
			   of circa the fifth century CE, a series of 
			   soundchanges, phonetic evolutionary processes and 
			   grammatic innovations are postulated. As such, a 
			   hypothetical evolution of the language is 
			   constructed, the proposed outcome of which is a 
			   practically useable modern Celtic language, to be 
			   situated in the framework of the modern Celtic 
			   languages.
			</p>
			   
			<br />

			<p>
			   While the process of reconstructing or reassembling 
			   a language is challenging, it has been done as 
			   conscientiously as possible, starting from the 
			   original material and attempting to stay as 
			   faithful as possible to it, while applying a set 
			   of changes which could have been reasonably 
			   expected to have happened to the language had it 
			   not ceased to be spoken. These changes are based 
			   on evolutionary processes which can be observed in 
			   the available authentic material, as well as on 
			   related processes which have occurred in the 
			   related surviving languages. As much as possible, 
			   justification for changes and adaptation is 
			   provided by drawing from the original material. 
			   Creative imagination, or, to put it differently, 
			   making up random stuff, has been kept to a minimum. 
			   These various changes, adaptations and processes 
			   will be discussed in detail in the various sections 
			   dealing with them in the body of this document.
			</p>
		</div>
		
	</div>
</div>
