<div class="spacer"></div>

<div class="header">
	<div>
		<h1>1. Introduction</h1>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>The Gaulish Language</h2>
			<br />
			<p>
			   This document presents the revival of the Gaulish 
			   language. Gaulish is a Celtic language which was 
			   spoken widely throughout Western Europe from at 
			   least the seventh century BCE, when it was first 
			   attested, until the sixth century CE, when it was 
			   last attested. Its range covered the areas west and 
			   south of the Rhine, east of the Atlantic, north of 
			   the Pyrenees, throughout the Alps from west to east, 
			   south of the Alps into the Po valley, and eastwards 
			   into the Balkans and the Hungarian Plain. Through 
			   immigration it was carried into Asia Minor in the 
			   fourth century BCE and survived there at least 
			   until the fourth century CE. In the first century 
			   CE it was recorded by Tacitus as being virtually 
			   identical to and mutually intelligible with the 
			   language of the British Isles (referred to as 
			   Brittonic), which would later develop into the 
			   Welsh, Cornish and Breton languages. In the 
			   framework of the Celtic language family, Gaulish 
			   is also, but more distantly, related to Irish, and 
			   its daughter languages Scottish Gaelic and Manx. 
			   The area in which Gaulish was spoken was conquered 
			   by the Romans between approximately 150 BCE and 52 
			   BCE, and incorporated into the Roman Empire. The 
			   language was put under pressure by Latin, first as 
			   used by the administration and military of the 
			   Empire, then as used by the state enforced 
			   christian religion, and finally by the early 
			   medieval christian church. Eventually the language 
			   gave way to a variety of Romance and Germanic 
			   languages, and ceased to be spoken.
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Reconstruction</h2>
			<br />
			<p>
			   The Gaulish language is reasonably well attested, 
			   if imperfectly. There is a certain amount of 
			   recorded material available, and new material 
			   continues to be unearthed at a steady pace (e.g. 
			   the Chartres find, discovered early 2012). 
			   Drawing on the existent available material, and 
			   making use of the surviving Brittonic languages, 
			   as well as the Gaelic languages, for support and 
			   comparitive studies of such things as vocabulary, 
			   semantics and grammatic structure, a modernised 
			   version of the Gaulish language is here presented. 
			   Departing from the state in which Gaulish was 
			   last attested, that is Late Gaulish, the language 
			   of circa the fifth century CE, a series of 
			   soundchanges, phonetic evolutionary processes and 
			   grammatic innovations are postulated. As such, a 
			   hypothetical evolution of the language is 
			   constructed, the proposed outcome of which is a 
			   practically useable modern Celtic language, to be 
			   situated in the framework of the modern Celtic 
			   languages.
			</p>
			   
			<br />

			<p>
			   While the process of reconstructing or reassembling 
			   a language is challenging, it has been done as 
			   conscientiously as possible, starting from the 
			   original material and attempting to stay as 
			   faithful as possible to it, while applying a set 
			   of changes which could have been reasonably 
			   expected to have happened to the language had it 
			   not ceased to be spoken. These changes are based 
			   on evolutionary processes which can be observed in 
			   the available authentic material, as well as on 
			   related processes which have occurred in the 
			   related surviving languages. As much as possible, 
			   justification for changes and adaptation is 
			   provided by drawing from the original material. 
			   Creative imagination, or, to put it differently, 
			   making up random stuff, has been kept to a minimum. 
			   These various changes, adaptations and processes 
			   will be discussed in detail in the various sections 
			   dealing with them in the body of this document.
			</p>
		</div>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Historical Survival of Minority Languages</h2>
			<br />
			<p>
			   The Gaulish language was – possibly – last 
			   attested in the mid sixth century by Gregory of 
			   Tours, giving a date of approx. 550 CE. It is 
			   easy to imagine that in remote rural areas it 
			   survived a lot longer than that; a wild guess 
			   might put its demise in those areas into the late 
			   700’s. This position is supported by the fact 
			   that there is evidence of non-culturally dominant 
			   languages in conquest situations that have 
			   survived as peasant languages for several hundred 
			   years. While the longest historically attested 
			   such survival (Elamite) runs up to 1300 years 
			   post conquest, there is a certain indication that 
			   a survival of 800-900 years is quite common. 
			   Several examples of such a survival of minority 
			   peasant languages not supported by the culturally 
			   and politically dominant classes are known and 
			   documented, such as the previously mentioned 
			   Elamite (1300 years without written attestation, 
			   Central Asia), Ladin (850 years, South Tyrol), 
			   Cornish (approx. 850 years), Polabe (775 years, 
			   Central Europe), Crimean Gothic (1100-1300 years, 
			   arguably; Eastern Europe), and Dalmatian (approx. 
			   1000 years, extinct 1898, descended from Latin, 
			   Mediterranean) (Sala & Vintila-Radelescu 1984).
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Survival of Gaulish</h2>
			<br />
			<p>
			   Charlemagne gathered a collection of ancient 
			   folktales, beliefs and legends from among the 
			   people of the countryside. There is speculation 
			   that it may well have contained the last records 
			   of the language. The collection was burned by one 
			   of his successors as being pagan and therefore 
			   evil. The time of Charlemagne has been suggested 
			   as the period of widespread decline of the 
			   language (Piqueron 2006), because of 
			   state-enforced Christianity, and there are claims 
			   that the last survivals lasted into the 12th 
			   century in remote mountainous areas. Suggestions 
			   to this effect are found mainly in the work of 
			   Hubschmied (1938). Although this has in more 
			   recent years been severely criticised by linguists 
			   and experts in the field, there is also qualified 
			   and informed support for the concept (e.g. 
			   Bhrghros, 2010, 2012). Therefore, estimations 
			   for the time of extinction of the language range 
			   from the most optimistic, 800 years ago, through 
			   the cautiously speculative, 1200 years ago, to 
			   the conservative, 1500 years ago. 
			</p>
		</div>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Evolution of Gaulish</h2>
			<br />
			<p>
			   The construction of the modern Gaulish language 
			   situates the evolution of modern Gaulish in the 
			   cultural continuum of the surviving Celtic 
			   languages, and adopts grammatical innovations 
			   that are common to all surviving or revived Celtic 
			   languages. As such, this work subscribes to the 
			   notion forwarded by Isaac (2007) which holds that 
			   many of the unusual features of modern Celtic 
			   languages are due to linguistic factors 
			   demonstrably inherent and innate to the Celtic 
			   language family, and are not due to the presence 
			   of a presumed and unproven prehistoric 
			   Afro-Asiatic substrate language, as suggested and 
			   defended most recently by Venneman (2003), 
			   building on the earlier work of Morris-Jones, 
			   Pokorny and Gensler (in Venneman 2003). 
			</p>
			
			<p>
			   Broadly speaking, the hypothetical proposed 
			   evolution of Gaulish is characterised by two main 
			   processes, both of which are attested in the 
			   Gaulish material, and abundantly recorded in the 
			   early historical stages of the surviving Celtic 
			   languages. These processes, which are best thought 
			   of as “phonetic erosion”, are apocope, or the loss 
			   of wordfinal endings and syllables, and lenition 
			   of word-internal consonants. The resulting loss of 
			   case markings led to profound changes in the 
			   grammatical structure of the language. These 
			   processes and their outcomes will be discussed in 
			   detail in the body of this document.
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Designation of the Gauls: Keltoi</h2>
			<br />
			<p>
			    The question of how the Gauls refered to 
			    themselves has long been and continues to be the 
			    subject of intense debate, heated argument and 
			    imaginative speculation. Two parallel terms can 
			    be identified as having historical and cultural 
			    authenticity. On the one hand, the word “Keltoi” 
			    has been associated with the Celtic people of 
			    Western Europe since they were first mentioned by 
			    Classical Greek authors (McCone 2006). Caesar 
			    indicated that in his day, the Gauls refered to 
			    themselves as “Celtae” – at least those Gauls 
			    inhabiting the area between the Garonne and Seine 
			    rivers (see e.g. McCone 2006). The etymology of 
			    the word “Keltoi/ Celtae” is not widely agreed 
			    upon, and is sometimes held to refer to a state 
			    of being hidden, or unseen, which in turn is often 
			    tentatively linked to Caesar’s statement that the 
			    Celts considered themselves to be descended from 
			    their god of the underworld (Caesar’s “Dis Pater”). 
			    The notion of hailing from the underworld and therefore 
			    coming from under the ground, can with some goodwill be 
			    conceptually linked with the concept of being “hidden”, 
			    as someone who is under the ground can certainly be said 
			    to be hidden from the view of someone above the ground 
			    (McCone 2006). Be that as it may, the fact remains that 
			    the name “Keltoi”, whatever its meaning may have been, 
			    is historically inextricably linked with the people of 
			    Western Europe.
			</p>
		</div>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Galatae</h2>
			<br />
			<p>
			   A second appellation that is historically linked 
			   with the people of prehistoric Western Europe is 
			   that of “Galatae” (McCone 2006). It has been 
			   argued that the term “Galatae” refered to the 
			   young, possibly landless and presumably restless 
			   male warriors of Celtic society, and was derived 
			   from the root *gal-, meaning “vigour, fighting”, 
			   endowed with the regular Celtic suffix of 
			   agency –(i)ati. The meaning of “Galatae” would 
			   thus be “the warriors, the vigorous ones” (McCone 
			   2006, Bernard Mees 2008, pers. com.). This 
			   interpretation is reinforced by the documented 
			   existence in central Gaul (Auvergne) of a shrine 
			   or temple dedicated to or named in honour of 
			   “Uasso Galatae”, a name in which the component 
			   “Uasso” appears to refer to “young male(s)” 
			   (McCone 2006). The term “Uasso Galatae” appears 
			   to have survived to this day in the name of the 
			   Central French village Jaude 
			   (*galat- > *gald- > *jald- > * jaud-), and the 
			   word “Galatae” has been argued to have led, 
			   through a process of linguistic distortion and 
			   cultural misinterpretation, to the appellation 
			   “Galli” as used by Caesar (McCone 2006).
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Keltoi versus Galatae</h2>
			<br />
			<p>
			    In view of the above information, it would 
			    appear that the two terms are mutually compatible 
			    and complementary, in as much that it appears that 
			    the word “Celtae” seems to refer to the main body 
			    of the nation(s), and that the word “Galatae” 
			    seems to refer to the young males who set forth 
			    to carve out a piece of world of their own. The 
			    association of the term “Galatae” with roving 
			    warrior bands and groups of mercenaries, such as 
			    those who settled in Asia Minor, appears to 
			    confirm this notion. A parallel can be drawn 
			    with the middle ages, when the crusades were 
			    welcomed by certain sections of society as a way 
			    of getting rid of young males with nothing to 
			    do, no land to inherit and altogether too much 
			    time on their hands. As such, it could be said 
			    that the word “Celtae” refers to the core of the 
			    people or nations who stayed at home, tended 
			    their fields and told stories to their kids, and 
			    that the word “Galatae” refers to the young guns 
			    who left home to fight, rape and pillage and 
			    generically seek their fortune elsewhere. 
			</p>
		</div>
	</div>
</div>
