<div class="spacer"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>II. Grammar</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>1. Orthography</h2>
			
			<p>
				The Gaulish language has historically been recorded in a number of different scripts, Lepontic, Greek and Latin, with the Lepontic representing the earliest attested inscriptions, the Greek being used in the middle period of attestation, and the Latin being used for the latest records. These latest records are however also the most prolific ones, and the ones providing the most information about the language and the various changes at work in it. Furthermore, all of the important long running texts in the Gaulish language known today are written in the Latin script. Therefore, it seems reasonable to adopt the Latin script used in those texts, with a few adjustments to the orthography to reflect the demands of the modern language.
			</p>
			
			<p>
				By way of graphic example, a line from the important Chateaubleau text (one of the longest, continuous running, well preserved inscriptions, discovered in 1997) looks like this in the original Gaulish:
			</p>
			
			<li>
				neí anmanbe gniíou ape niteme ueííe
			</li>
			
			<li>
				[“not by the names which are knowing about ownership may you desire it”]
			</li>
			<br />
			<p>
				The modern Gaulish language is written entirely phonetically, and to represent the sounds of the language it uses a version of the Latin alphabet which contains the following 20 basic characters:
			</p>
			
			<li>
				a, b, c, d, e, f, g, h, i, l, m, n, o, p, r, s, t, u, v, w.
			</li>
			<br />
			<p>
				These are augmented by the following consonants:
			</p>
			
			<li>
				ch, dh, gh, lh, nh, rh, th, gw, chw
			</li>
			<br />
			<p>
				The vowel inventory is also extended to include the following long vowels:
			</p>
			
			<li>
				á, é, í, ó, ú
			</li>
			<br />
			<p>
				and the following diphthongs:
			</p>
			
			<li>
				au, ái, éi, ói, úi
			</li>
			<br />
			<p>
				The various sounds represented by the above are discussed below.
			</p>
		</div>
	</div>
</div>
