<div class="spacer" id="spacer-id"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>4. Personal Pronouns</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Personal Pronouns Morphology</h2>
			
			<blockquote class="inline-citation text-left">
The personal pronouns of Gaulish are reasonably well attested in the historical material, and are as follows:
			</blockquote>
			
			<%= image_tag('pronouns-morphology.png') %>
			
			<blockquote class="inline-citation text-left">
For a discussion of attested forms, see Lambert (2003, p. 69, 160) and Delamarre (2003, p. 269, 277). 

For all intents and purposes, the 3rd pers. sing. fem.and neutre have become one and the same. As such, í is used to indicate feminine subjects as well as neutre subjects, i.e. undefined, generalistic subjects such as the weather, or subjects which have not or nor yet been specified.

     e.g.: cána í – she sings
             esi í math – it [the weather] is fine 
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Personal Pronouns as Subject or Object of a Verb</h2>
		
			<blockquote class="inline-citation text-left">
The above pronouns are used when they are the subject of a sentence. When used as object in a sentence, the personal pronouns are largely the same as the above, with a few exceptions. Based on the following Classical Gaulish data, it is possible to extrapolate tentative forms for object pronouns:

     avot-ni: made us
     avot-ide: made it
     avot-i: made her
     avot-e: made him
     avot-is: made them
     (in “Receuil des Inscriptions Gauloises”, from Bernard Mees, pers. com. 2009)

This indicates that when used as object (in the accusative case), the Gaulish pronouns take the same form as when used as subject (in the nominative case). An example of this is “avot-ni” where the form “ni”, used in the accusative, is the same as the form “ni” encountered elsewhere in the nominative (e.g. at Thiaucourt, Delamarre 2003, p. 336, B. Mees, pers.com. 2009).

This position is further reinforced by the Banassac word “tieđi”, which is translated as “at/to you-is”, where the accusative form of the second person singular pronoun appears to be the same as the nominative form of the same pronoun, also attested elsewhere (Lambert 2003, p. 69).

Nevertheless, the 3rd pers. pl. is attested as “-is” when used as object:

     avot-is – made them (RIG, B. Mees p.c. 2009)
     dessu-mi-is – I prepare them (Henry 1984, in Delamarre 2003, p. 141; B. Mees 
                                                     pers.com. 2009)

This is divergent from the attested third person plural (fem.) “sies”. While there may be an unattested difference between the third persons plural masculine and feminin, since modern Gaulish no longer distinguishes between masculine and feminin in the third person plural, it is posited here that “-is” represents the generic third person plural.

In view of the above information, a position is proposed for modern Gaulish where the personal pronouns when used as object are the same as the subject pronouns, with the exception of the third person plural, and with the addition of phonetic modifications to the third persons singular and plural when necessary. These are introduced to allow for clear phonetic distinction to be made between two words ending and starting on a vowel where such a distinction is deemed important, and only occur if the word preceding the object pronoun ends in a vowel. In these cases the third persons singular and plural are provided with a semantically empty particle “ch- “, a practice which is current in modern Breton (see MacAuley 1992). 
			
Bearing the above in mind, the modern Gaulish personal pronouns when used as object present as follows:

     mi – me                   ni - us
     ti – you                    sú – you(s)
     é/ché – him             ís/chís - them
     í/chí - her

While in Classical Gaulish both the subject pronoun and the object pronoun were cliticised onto the verb, as shown in the example below, in modern Gaulish these have become detached. Revisiting the previously used example, the evolution sketched above can be illustrated:

     dessumiis > désa mi chís – I prepare them

Further examples are provided below:

     apísa mi chí – I see her
     apísa í mi – she sees me
     batha mi ché – I hit him
     batha é mi – he hits me

The need for the particle “ch- “ as a phonetic bridge is demonstrated below:

     apísa í chí – she sees her
     apísa é ché – he sees him
     apísa í chís – she sees them

instead of apísa í í, apísa é é and apísa í ís, which would be phonetically awkward.

However, when the preceding word does not end in a vowel, the phonetic bridge particle is not used as it is not required:

     apísa in gwir í – the man sees her

Unambiguous meaning is further conveyed by the strict VSO word order, which places the subject always before the object in a multiple pronoun phrase.

     e.g.: apísa mi ti – I see you
             apísa ti mi – you see me						
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Personal Pronouns and Prepositions</h2>
		
			<blockquote class="inline-citation text-left">
An unusual feature of modern Celtic languages is the fusion of personal pronouns with prepositions, sometimes referre to as conjugated prepositions. It is a feature not frequently found among modern languages, although it was present in Latin. In the well known Classical Latin expression “vade mecum”, meaning “come with me”, the word “mecum” is a fusion of “me-“ (me) and “-cum” (with) (W. De Reuse, pers. com. 2011). Forms such as this are no longer found in modern Romance languages; they are, however, common, even ubiquituous, in modern Celtic languages. It seems reasonable to assume that such features are archaic grammatical forms no longer used in many modern languages.

In the attested Gaulish material, there is precisely one instance which can be identified as a conjugated/fused preposition. The lead tablet of Chamalieres (Delamarre 2003, p. 337), which is one of the most important continuous texts in Gaulish found to date, features at line 9-10:

     exsops pissíiumí i tsocanti rissuis onson

A reasonable translation of this would be:

     no-eye will–see-I-it/her with-this for-you (pl.) our ...

.....i.e.: blind I will see it with this for you our ...

In this line, the word “rissuis” appears to be quite certainly made up of the preposition “ris” (for, before) and the 2nd pers. pl. pronoun “suis”; as such, “rissuis” is to be taken to mean “for-you (pl)”.

This appears to be formed on exactly the same lines as comparative modern Insular Celtic fused prepositions, e.g. Welsh gennyf < *cantimi.

From this admittedly modest and humble example of a fused preposition, a system of fused prepositions is devised that is analoguous with those found in the modern Celtic languages. The preposition “ris” would, under the influence of phonetic erosion of the end of words (apocope), be shortened to “ri”. To this would be attached the various modernised forms of the prepositions discussed above. For the 2nd pers. pl. of the attested example, this would give:

     ris + suis > ri + sú = risú “for-you (pl)”

The forms for the other pronouns would look like this:

     ris + mi > ri + mi = rimi
          + ti > ri + ti = riti 
          + es > ri + é = rié
          + i > ri + í = rií
          + ni > ri + ni = rini
          + is > ri + is > riis
          
Applying the insertion of the sematically empty phonetic particle “ch-“ as discussed above to the 3rd persons singular and plural would give:

     ri-é > riché
     ri-í > richí
     ri-ís > richís

A position is here adopted that holds that for the sake of clarity and unambiguousness, a process of metathesis and vowel differentiation applies to the remainder:

     rimi > ri-im > riem
     ri-ti > ri-it > riet > rieth
     ri-ni > ri-in > rien

The fusion of the preposition “ri” (for) with the personal pronouns would therefore be:

     riem: for me
     rieth: for you
     riché: for him
     richí: for her / it
     rien: for us
     risú: for you (pl.)
     richís: for them

In the above cases the two vowels “i” and “e” are pronounced separately, with emphasis on the latter, the word final syllable which receives the emphasis for all the fused prepositions:

     ri’em

Extending the above principles to the other preposition encountered at Line 10 of Chamalieres, “canti” (with), would give:

     canti + mi > cantimi > canthim

However, a position is adopted here that holds that the preposition *canti > *canth (with), when used independently from pronouns, was subject to apocope and phonetic erosion, and in analogy with other words on word final –nth dropped the final –th (see above under “treatment of –nt-“) for reasons of ease of pronunciation. This would reduce the preposition to “can”. It is postulated that in analogy with the shortening of “canth” to “can”, all fused forms of “canth” also dropped their (in those cases word medial) –th-.
			
The result would be the following:

     canim: with me
     canith: with you
     cané: with him
     caní: with her
     canin: with us
     cansú: with you (pl.)
     canís: with them

In analogy with the two examples illustrated above, it is postulated that modern Gaulish applies two models of fusing prepositions with pronouns: 

1. prepositions on –i follow the first model: -em, -eth etc.

e.g. di (off) (Delamarre 2003, p. 143): diem, dieth, diché, dichí, dien, disú, dichís

2. prepositions on all other endings follow the second model:

e.g. gwó (under) (Delamarre 2003, p. 324): gwóim, gwóith, gwóé, gwóí, gwóin, gwósú, gwoís.

There a small number of prepositions which ended on stops in Classical Gaulish. Due to phonetic erosion, apocope and a desire for ease of pronunciation, these have lost their word final stops in independent usage. However, in their fusion with pronouns these are retained.

e.g. ad (to, towards) (Delamarre 2003, p. 31) 
       > a in independent usage
       > adh- in fusion: adhim, adhith, adhé, adhí, adhin, adhú, adhís

e.g. ex (from, out of, Delamarre 2003, p. 169)
       > e in independent usage  
       > ech- in fusion: echim, echith, eché, echí, echin, echú, echís			
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Prepositions</h2>
			
			<blockquote class="inline-citation text-left">
The following prepositions are attested or can be extrapolated from the Classical Gaulish material. While some are clearly used in a prepositional way, others are only attested as preverbal particles or prefixes. However, it is posited here that as Gaulish would have become increasingly analytic in its grammatical construction, such prepositional preverbal particles as are attested would have evolved to fully fledged independent prepositions. Their counter parts are found in both the modern Celtic and Romance language families. The following table provides an overview of such prepositions and their derivations. All are found in Delamarre 2003, unless otherwise indicated.
			</blockquote>
			
			<%= image_tag('prepositions.png') %>
		</div>
	</div>
</div>
