<div cass="spacer" id="spacer-id"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>2. Phonology</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<p>The characters discussed above are used to represent the sounds of the language phonetically, in such a way that a given letter almost always represents a given sound. There are a few exceptions, which will be discussed further below. </p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Vowels</h2>
			
			<p>
				The vowels of the modern Gaulish language can be either long or short. These vowels are clear, as is the case in e.g. Welsh and Spanish. 
			</p>
			
			<p>
				The short vowels are: a e o u i
			</p>
			
			<li>
				a = [a] as in at
			</li>
			
			<li>
				e = [e] as in hell
			</li>
			
			<li>
				o = [o] as in fog
			</li>
			
			<li>
				u = [u] as in book
			</li>
			
			<li>
				i = [i] as in it
			</li>
			<br />
			<p>
				The long vowels are: á é ó ú í. 
			</p>
			
			<li>
				á = [a:] as in father
			</li>
			
			<li>
				é = [e:] as in lay, but without the yod sound 
			</li>
			
			<li>
				ó = [o:] as in tote
			</li>
			
			<li>
				ú = [u:] as in shoe
			</li>
			
			<li>
				í = [i:] as in see
			</li>
			<br />
			<p>
				The diphthongs are: au, ái, éi, ói, úi
			</p>
			
			<li>
				áu = [au] as in how
			</li>
			
			<li>
				ái = [a:j] as in good bye
			</li>
			
			<li>
				éi = [e:j] as in day
			</li>
			
			<li>
				ói = [o:j] as in toy
			</li>
			
			<li>
				úi = [u:j] as in French brouillard
			</li>
			<br />
			<p>
				All other vowels can occur adjacent to other vowels without combining their sounds into diphthongs, so that each vowel is pronounced independently with its own syllabic peak:
			</p>
			
			<li>
				gwerúach = [gweru:ax] (feral)
			</li>
			
			<li>
				bóé = [bo:e:] (cows)
			</li>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Consonants</h2>
			
			<p>
				The basic consonants of the Gaulish language are:
			</p>
			
			<li>
				p, t, c, b, d, g, f, v, n, r, l, m, s
			</li>
			<br />
			<p>
				Of these:
			</p>
			
			<li>
				c is always [k]
			</li>
			
			<li>
				g is always [g] 
			</li>
			
			<li>
				r is the rolling r of Scottish “borrow”
			</li>
			
			<li>
				s is [s] in word initial and word medial position, and [z] in word final position
			</li>
			<br />
			<p>
				As mentioned above, in addition to these regular consonants Gaulish also has:
			</p>
			
			<li>
				ch, dh, gh, lh, nh, rh, sh, th, gw, chw
			</li>
			<br />
			<li>
				ch = [x] as in Scottish loch
			</li>
			
			<li>
				dh = [δ] as in English there
			</li>
			
			<li>
				gh = [γ] as in Greek εγω
			</li>
			
			<li>
				lh = [xl] an /l/ preceded by [x]
			</li>
			
			<li>
				nh = [xn] as for l
			</li>
			
			<li>
				rh = [xr] as for l
			</li>
			
			<li>
				sh = [∫] as in English shine
			</li>
			
			<li>
				th = [θ] as in English thi
			</li>
			
			<li>
				gw = [gw]
			</li>
			
			<li>
				chw= [xw]
			</li>
			<br />
			<p>
				Lastly, Gaulish has the semi-vowels: w, i	
			</p>
			
			<li>
				w = [w] as in English will
			</li>
			
			<li>
				i = [j] as in English you
			</li>
			<br />
			<p>
				Of these, w never occurs freestanding: it is always adjacent to other consonants, and never occurs intervocalically.
			</p>
			
			<p>
				Conversely, the character i indicates the regular vowel [i] when directly following a consonant, or when preceding a consonant by itself:
			</p>
			
			<li>
				mi = [mi], “me”
			</li>
			
			<li>
				imi = [imi], “of-me”
			</li>
			<br />
			<p>
				However, i indicates the semi-vowel [j] when following another vowel, when preceding another vowel in word initial position, or when between two vowels:
			</p>
			
			<li>
				ái = [a:j], “to go”
			</li>
			<br />
			<li>
				iár = [ja:r], “chicken”
			</li>
			
			<li>
				áiedh = [a:jeδ], “face”
			</li>
			<br />
			<p>
				Many of the various sounds discussed above are the result of a process of sound changes, the beginnings of which can be discerned in the attested Gaulish material. These sound changes are discussed in detail below.
			</p>
		</div>
	</div>
</div>
