<div cass="spacer" id="spacer-id"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>3. Sound Changes</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Historical Changes</h2>
			
			<p>
				The process of the changing of the sounds of the Gaulish languages is one of the two main processes which transform it from an ancient language to a modern language, the other one being apocope, or the loss of final syllables, of which more later. The changing of the sounds of a language is best thought of as a process of phonetic erosion: over a certain period of time, by virtue of living in the mouths of people, the sounds of languages change. In a Western Indo European context, sound changes have been historically observed, recorded and extrapolated in the Romance, Germanic and Celtic language families.
			</p>
			
			<p>
				Very broadly speaking, in the Celtic language families there are two sets of sound changes that have affected the two separate surviving Celtic language families: the Brittonic (Welsh, Cornish, Breton) and the Goidelic (Irish, Scottish Gaelic, Manx). In the Brittonic language family, an important change that occurred was the voicing of intervocalic voiceless stops (* -ata- > * -ada-), and the spirantisation of voiced intervocalic stops (*-aba- > * -ava-). In a nutshell, pre-sound change intervocalic [p, t, c] became post-sound change intervocalic [b, d, g]; at the same time, pre-sound change intervocalic [b, d, g] became [v, δ, γ], the latter of which eventually disappeared; intervocalic [m] also became [v]. A number of changes also affected the Brittonic vowel system, but these are not relevant here.
			</p>
			
			<p>
				In the Goidelic branch of the Celtic language family, intervocalic voiceless stops were spirantised: [t, c] became [θ, x] (Goidelic did not have the sound [p]). At the same time, intervocalic voiced stops became spirantised as well: [b, d, g] became [v, δ, γ], as in Brittonic. Goidelic also experienced a shift of emphasis towards the first syllable of a word, which, in words of more than two syllables, typically resulted in the loss of the second syllable, a process referred to as syncope. 
			</p>
			
			<p>
				The two sound changes outlined above are clearly illustrated in the respective treatment by the two language families of the word “Caratacos”, “beloved-like/ loveable”, which is attested in Classical Gaulish as well as in Welsh and Irish. 
			</p>
			
			<blockquote class="inline-citation text-left">
				Classical “Caratacos” > Welsh “Caradog” (voicing of voiceless stops)
			</blockquote>
			
			<blockquote class="inline-citation text-left">
Classical “Caratacos” > Irish “Carthach” (aspiration of voiceless stops)
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Changes in Gaulish</h2>
			
			<p>
				The sound changes described above occurred in the respective language families around the 5th-6th centuries CE, again broadly speaking, in a period of considerable political and social upheaval in Western Europe, which appears to have triggered a period of linguistic innovation and change. 
			</p>
			
			<p>
				It can be reasonably expected that the Gaulish language, at that time, was subject to the same pressures that caused sound changes in its neighbouring and related languages, and therefore also experienced a process of sound change. In order to construct Gaulish as a modern language, it is important and essential to discern and to apply this sound change. Therefore, the available Gaulish material has been investigated for clues as to what this change might have been like. 
			</p>
			
			<p>
				Below are presented epigraphic instances of genuine, attested Gaulish material that testify to changes at work in the phonology of the language. Most of these, if not all, can be found in Delamarre 2003, as per individual reference, unless otherwise specified; when available, their primary source is included and follows the page number in Delamarre 2003.
			</p>
			
			<blockquote class="inline-citation text-left">
aballos > avallo; i.e. [b] > [v] (p. 29; Endlicher’s Glossary)
anman > anuan; i.e. [-nm-] > [-nw-] (p. 50; Larzac, Chateaubleau)
iouincos > ioinchus; i.e. [c] > [x] (p. 191, anthroponomy)
arganto- > arxanti; i.e. [g] > [γ] (Lambert 2003, p. 48; Suessons coin)
                  > arganthoneia; i.e. [t] > [θ] (p. 53; Galatian source)
(g)nata > gnatha, i.e. [t] > [θ] (p. 181; spindle whorl of Saint-Révérien)
litan- > lithan-, i.e. [t] > [θ] (p. 204; anthroponomy)
ate- > atha-, i.e. [t] > [θ] (p. 57, p. 214; anthroponomy)
*sisagsiou > siaxsiou, i.e. [g] > [γ] (p. 273; Chateaubleau)
*agat > axat, i.e. [g] > [γ] (p. 63; Marcellus of Bordeaux)
luge > luxe, i.e. [g] > [γ] (p. 210; Chamalieres)
ambio > ape, i.e. [amb] > [ãb] (Bernard Mees 2010, Bhrghros 2013, pers. com.; Chateaubleau and Rom)
briuo > brio, i.e. [-w-] > [-ø-] (p. 89; Endlicher’s Glossary)
iouinc- > ioinc-, i.e. [-w-] > [-ø-] (p. 191, anthroponomy)
magiorix > maiorix, i.e. [-g-] > [-ø-] (Lambert 2003, p. 46; anthroponomy)
catugenus > catuenus, i.e. [-g-] > [-ø-] (Lambert 2003, p. 46; anthroponomy)
traget- > treide, i.e. [-g-] > [-i-] (p. 300; Endlicher’s Glossary)
                                       [-t-] > [-d-], (p. 300; Endlicher’s Glossary)
*brogilos > breialo, i.e. [-g-] > [-i-] (p. 91; Endlicher’s Glossary)
badio > * baδio > baio, i.e. [-d-] > [δ] > [-ø-] (p. 63, anthroponomy)
Stirona > Ðirona > Sirona, i.e. [st-] > [ts-] > [s-] (p. 282, theonomy)
			</blockquote>

			<p>
				The above instances can be summarised as follows:
			</p>
			
			<blockquote class="inline-citation text-left">
b > u (v)                                     amb > ãb, assimilation of nasal to vowel
c > ch (x)                                    st > ts > s
d > δ
g > x (γ)
g > i
g > ø
m > u (w)
t > th (θ)
t > d
			</blockquote>
			<div style="clear: both;"></div>
			<p>
				In the above, the grapheme “x” is considered to represent the spirantisation of intervocalic “g” > [γ] (Delamarre 2003, p. 63, p. 210; Lambert 2003, p. 46, p. 48)
			</p>
			
			<p>
				An analysis of the above data indicates that the intervocalic consonants of Gaulish were subject to a process of spirantisation or fricativisation, which can be represented as follows:
			</p>
			
			<blockquote class="inline-citation text-left">				
p > p 
t > th [θ]
c > ch [x]
b > u [v]
* d > δ ?
g > x [γ], i [j] or ø
m > u [w]
đ > ss [s]
[mb > nasal-b]
			</blockquote>
			<div style="clear: both;"></div>
			<p>
				The only exception to this appears to be the rendition of –t- as –d- in “treide”, which appears to indicate a voicing of an intervocalic consonant. Lambert (2003, p. 207) considers “treide” as having been treated as a word of Vulgar Latin and as such as having undergone Romance lenition, where intervocalic voiceless stops become voiced (Western Romance). In support, it is the opinion currently held by scholars in the field of Continental Celtic linguistics that the possibility that “treide” can be considered as indicative and representative of a genuine Gaulish sound change is negligeable (Bhrghros, Mees, Stifter, Gwinn pers. com. 2009).
			</p>
			
			<p>
				The remainder of the data appears to uniformly point towards a process of spirantisation of intervocalic consonants. The existence of lenition, the process of weakening of pronunciation of consonants, in this case through spirantisation or fricativisation, in Gaulish has been proposed and defended by Gray (1944), accepted by Fleuriot (in Delamarre 2003, p. 63), rejected and objected against by Lambert (2003) among many others (e.g Watkins 1955), and cautiously and somewhat sceptically regarded as a possibility by Delamarre (2003). Nevertheless, as Eska (2008) emphatically suggests, proposes and defends, the data appear to point in this direction.
			</p>
			
			<p>
				In addition to the above, there is widespread academic agreement on the disappearance of intervocalic –u- and –g- (Delamarre 2003; Lambert 2003). In regards to –g-, a position is here adopted where –g- becomes spirantised when occurring in consonant clusters, and becomes –i- in intervocalic position and word finally when preceded by a vowel:
			</p>
			
			<blockquote class="inline-citation text-left">
-Cg- > -Cγ- (e.g. argant- > arxant-)
-gC- > -γC- 
			</blockquote>
			<div style="clear: both;"></div>
			<blockquote class="inline-citation text-left">
-VgV- > -ViV- (e.g. brogil- > breial-)
-Vg > -Vi
			</blockquote>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Diphthongs</h2>
			
			<p>
				The sound change discussed above gives rise to a number of modern diphthongs which are not derived from inherited Indo European or Proto Celtic diphthongs:
			</p>
			
			<p>
				Classical Gaulish > Modern Gaulish
			</p>
			
			<blockquote class="inline-citation text-left">
dago > dái (good)
aneg- > anéi (protect)
brogi > brói (country)
lugus > lúi (a god)
			</blockquote>
			
			<p>
				This therefore produces the diphthongs:
			</p>
			
			<blockquote class="inline-citation text-left">
ái, éi, ói, úi 
			</blockquote>
			
			<p>
				in addition to the vowel inventory discussed previously.
			</p>
			
			<p>
				The Classical Gaulish diphthong –ou-, which itself was the result of an older –eu-, is also attested as undergoing an evolution:
			</p>
			
			<blockquote class="inline-citation text-left">
touta > tota, i.e. [ou] > [o:] (people, tribe, nation)
crouco > crocu, i.e. [ou] > [o:] (hillock, hill, heap, pile)
			</blockquote>
			
			<p>
				This indicates that:
			</p>
			
			<blockquote class="inline-citation text-left">
ou > o [o:]
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Consonant clusters</h2>
			
			<p>
				Several examples of the data analysed above provide information on what happens to stops as part of consonant clusters:
			</p>
			
			<blockquote class="inline-citation text-left">
argant- > arganthoneia: -nt- > -nth-
argant- > arxant-: -rg- > -rx-
iouinc- > ioinch-: -nc- > -nch-
			</blockquote>
			
			<p>
				This indicates clearly that the process of spirantisation was productive across consonant clusters.
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Tau Gallicum</h2>
			
			<p>
				The Tau Gallicum in Gaulish, represented by a wide variety of graphemes including đ, đđ, θ, θθ, ds, dd, tth, th, ts, ss and ss with a horizontal bar through it, is a matter of some controversy: some disagreement exists about its actual phonetic value. However, most scholars in the field of Continental Celtic linguistics agree that the Tau Gallicum represented a dental affricate [ts] (Delamarre 2003; Lambert 2003; Mees 2008, 2010; Eska 2008). Regardless of its original phonetic value, there is universal agreement that over the course of its attestation the sound of the Tau Gallicum evolved to become [s], which may become apparent from comparison with modern related languages, as well as with late Gaulish material. 
			</p>
			
			<blockquote class="inline-citation text-left">
e.g.: neđđamon > nesaf (“next” - Welsh)
        miđ > mis (“month” – Welsh)
        Meθθilus > Medsilus > Messilus (Lambert 2003, p. 46)
        Caraθθounios > Carassounios (Lambert 2003, p. 46)
        adsedo- > ađđedo- > assedo- (“reside, establish”, Delamarre 2003, p. 33)
        stir- > đir- > sir- (“star”, Delamarre 2003, p. 282)
			</blockquote>
			
			<p>
				Therefore, the change postulated for the Tau Galicum is:
			</p>
			
			<blockquote class="inline-citation text-left">
st, ts, đ > s
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>The group –ct- </h2>
			
			<p>
				There is no direct evidence of the evolution of –ct- in Gaulish. However, the similarity of its evolution in French (due to the Gaulish substrate) and in Brittonic is considered strong enough by Lambert (2003, p. 49) to conclude that its treatment was: 
			</p>
			
			<blockquote class="inline-citation text-left">
-ct- > -xt- > -it-, with i = [j], second element of diphthong.
			</blockquote>
			
			<blockquote class="inline-citation text-left">
e.g.: lact- > lait (“milk”, French)
     		    > llaeth (“milk”, Welsh)
			</blockquote>
			
			<p>
				where -act- > -ait- [a:jt]. This then undergoes spirantisation of the word final stop and becomes –aith [a:jθ].
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>The group -sc</h2>
			
			<p>
				There is in the attested material no indication of an evolution of the group –sc in Late Gaulish. Therefore, no soundchange is postulated for this group, which is maintained as it is.
			</p>
			
			<p>
				e.g. mesco- > mesc (“drunk”)
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Word initial u- before vowel</h2>
			
			<p>
				There is no direct indication of the evolution of word initial u- before vowel, thought to have been [w] in Classical Gaulish (Delamarre 2003, p. 309; Lambert 2003, p. 46; Mees, Stifter pers. comm. 2009). In the surviving related languages, u- before vowel becomes f- in Goidelic, and gw- in Brittonic.
			</p>
			
			<p>
				A comparison with the treatment of word initial u- before vowel in French, however, gives us some indication of what may be acceptably proposed as a plausible evolution of this phoneme. The French language has known a change of word initial [w] to [gw], often in words of Germanic origin, but not restricted to them; to wit “guerre” (war), Guillaume (William), g(u)arde (ward), gant (want – i.e. mitten), and Gascogne (Wasconia). The French language came to replace the Gaulish language in much of its domain and in the process demonstrably absorbed a certain amount of Gaulish substrate influence (Lambert 2003). Since the evolution of Brythonic [w] to [gw] appears to be partially paralleled in French, it is deemed acceptable to postulate an evolution of word initial [w] to [gw] for Modern Gaulish.
			</p>
			
			<p>
				While this may appear controversial because of its lack of actual attestation, it is worth bearing in mind that the phenomenon of changing word initial [w] to [gw] through fortition or strengthening is “fairly common cross linguistically” (B. Mees pers. comm. 2009). While it happened in Brythonic across the three attested languages Welsh, Cornish and Breton, it didn’t occur in Breton until the eleventh century (UT n.d.), a date well past the linguistic and cultural unity of Breton with the other Brythonic languages. This appears to indicate that the fortition of word initial [w] to [gw] happened due to internal processes, as opposed to shared innovations across the Brythonic family that could possibly be postulated.
			</p>
			
			<p>
				Furthermore, it is reasonable to posit that the loss of word final consonants (loss of –s, -n, -m attested) would have resulted in a situation where word initial u- ended up in an intervocalic environment, which would have led to its disappearance. It can therefore be postulated that a strengthened gw- developed to prevent the loss of word initial u-.
			</p>
			
			<p>
				Therefore, in keeping with the arguments outlined above, a sound change of word initial u- before vowel to gw- is proposed for Modern Gaulish.
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>The treatment of “s”</h2>
			
			<p>
				Although there has been controversy around this, it is now widely agreed that “s” is maintained in Gaulish (D. Stifter, B. Mees, C. Gwinn, Bhrghros pers. com. 2009). There is no indication of it becoming [h] word initially, as in Brittonic. While there have been instances where “s” is thought to have disappeared intervocalically, it has been argued strongly and persuasively that these were exceptions (Stifter 2009). Therefore, the position is taken here that “s” is maintained unchanged. 
			</p>
			
			<p>
				However, there is evidence that adjacent to –l- “s” became absorbed into –ll- (coslo- > collo-, Delamarre 2003, p. 127). Therefore, in modern Gaulish, “s” does not occur in clusters with –l-. It is proposed here that in its word initial and word medial position “s” is [s], while word finally it is [z].
			</p>
			
			<p>
				Finally, in a mutation context, when “s-“ is followed by a consonant, “s-“ is dropped, and the following consonant remains unmutated. This elision of “s-“ is marked with an apostrophe: e.g. sná > ‘ná (to swim).
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>The treatment of –nt-</h2>
			
			<p>
				In word medial position, it is clear that “–nt-“ becomes “–nth-“, as is indicated by arganto- > arganthoneia (Delamarre 2003, p. 53. For its word final treatment, it is postulated here that an intermediate “–nth” evolved to “-n” through phonetic erosion and for reasons of ease of pronunciation.
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>The treatment of –nd-</h2>
			
			<p>
				The treatment of –nd- is not clearly attested in the available material. However, two instances are known that appear to bear witness to some evolution of –nd-, from which tentative clues may be extrapolated.
			</p>
			
			<p>
				1. the word “andecinga” (agricultural measurement, similar to an acre) was absorbed into medieval Latin and hence passed into Old French as “ansenge, ensenge”. As such, it appears to show an evolution of ande > an, that is an elision of –d-. However, this is a highly dubious example, as it testifies to an evolution in Vulgar Latin / Old French, and not in Gaulish.
			</p>
			
			<p>
				2. the word “andounna” (“low water, spring, source”, Collias inscription, Delamarre 2003, p. 48) has been persuasively analysed by Lambert (1990, followed by Eska, 1992, in Delamarre 2003, p. 48) as “ande-udna > ande-unna > andeunna > andounna. In this proposed evolution, the word “udna” (“water”, “wave”, “tide”) has evolved to “unna” by assimilation of nasality, of [d] assimilating to [n]. A position is therefore postulated by modern Gaulish that all instances of –nd-, word medial and word final, assimilate to "–n(-)".
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>The treatment of geminate consonants</h2>
			
			<p>
				No pertinent information is available about the evolution of geminate consonants. A position is adopted here that all geminate consonants are treated as single consonants, and as such are subject to spirantisation in word medial and word final position, if they are stops.
			</p>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>The treatment of semi-vowel -i-</h2>
			
			<p>
				In the attested material, a Latin “i longa” (“long i”) is often used to indicate a semi-vowel [j]. It is proposed here that the semi-vowel [j] is represented by the grapheme “i”, in keeping with its occurrence in e.g. “breialo” (Delamarre 2003, p. 91). 
			</p>
			
			<p>
				Intervocalic –g- will almost always become –i-, pronounced [j]
			</p>
			
			<blockquote class="inline-citation text-left">
e.g.: trageto > tráieth [tra:jeθ] (foot)
			</blockquote>
			
			<p>
				Words starting with g- will, in combination with prefixes, weaken this –g- to a –i-:
			</p>
			
			<blockquote class="inline-citation text-left">
e.g.: gar: to call 
	 sú + gar: good + call = to laugh > *súgar > súiar [su:jar]
			</blockquote>
			
			<p>
				Word initial i- before a vowel will be pronounced as [j]:
			</p>
			
			<blockquote class="inline-citation text-left">
e.g.: iár: chicken [ja:r]
	 iach: sane, healthy, well [jax]
	 ianthu: wish [janθu]
			</blockquote>
			
			<p>
				However, word medial –i- preceded by a consonant and followed by a vowel, is pronounced [i]:
			</p>
			
			<blockquote class="inline-citation text-left">
e.g.: adhianthu: ambition [aδianθu]
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>
