<div cass="spacer" id="spacer-id"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>3. Sound Changes</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Historical Changes</h2>
			
			<p>
				The process of the changing of the sounds of the Gaulish languages is one of the two main processes which transform it from an ancient language to a modern language, the other one being apocope, or the loss of final syllables, of which more later. The changing of the sounds of a language is best thought of as a process of phonetic erosion: over a certain period of time, by virtue of living in the mouths of people, the sounds of languages change. In a Western Indo European context, sound changes have been historically observed, recorded and extrapolated in the Romance, Germanic and Celtic language families.
			</p>
			
			<p>
				Very broadly speaking, in the Celtic language families there are two sets of sound changes that have affected the two separate surviving Celtic language families: the Brittonic (Welsh, Cornish, Breton) and the Goidelic (Irish, Scottish Gaelic, Manx). In the Brittonic language family, an important change that occurred was the voicing of intervocalic voiceless stops (* -ata- > * -ada-), and the spirantisation of voiced intervocalic stops (*-aba- > * -ava-). In a nutshell, pre-sound change intervocalic [p, t, c] became post-sound change intervocalic [b, d, g]; at the same time, pre-sound change intervocalic [b, d, g] became [v, δ, γ], the latter of which eventually disappeared; intervocalic [m] also became [v]. A number of changes also affected the Brittonic vowel system, but these are not relevant here.
			</p>
			
			<p>
				In the Goidelic branch of the Celtic language family, intervocalic voiceless stops were spirantised: [t, c] became [θ, x] (Goidelic did not have the sound [p]). At the same time, intervocalic voiced stops became spirantised as well: [b, d, g] became [v, δ, γ], as in Brittonic. Goidelic also experienced a shift of emphasis towards the first syllable of a word, which, in words of more than two syllables, typically resulted in the loss of the second syllable, a process referred to as syncope. 
			</p>
			
			<p>
				The two sound changes outlined above are clearly illustrated in the respective treatment by the two language families of the word “Caratacos”, “beloved-like/ loveable”, which is attested in Classical Gaulish as well as in Welsh and Irish. 
			</p>
			
			<li>
				Classical “Caratacos” > Welsh “Caradog” (voicing of voiceless stops)
			</li>
			
			<li>
				Classical “Caratacos” > Irish “Carthach” (aspiration of voiceless stops)
			</li>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Changes in Gaulish</h2>
			
			<p>
				The sound changes described above occurred in the respective language families around the 5th-6th centuries CE, again broadly speaking, in a period of considerable political and social upheaval in Western Europe, which appears to have triggered a period of linguistic innovation and change. 
			</p>
			
			<p>
				It can be reasonably expected that the Gaulish language, at that time, was subject to the same pressures that caused sound changes in its neighbouring and related languages, and therefore also experienced a process of sound change. In order to construct Gaulish as a modern language, it is important and essential to discern and to apply this sound change. Therefore, the available Gaulish material has been investigated for clues as to what this change might have been like. 
			</p>
			
			<p>
				Below are presented epigraphic instances of genuine, attested Gaulish material that testify to changes at work in the phonology of the language. Most of these, if not all, can be found in Delamarre 2003, as per individual reference, unless otherwise specified; when available, their primary source is included and follows the page number in Delamarre 2003.
			</p>
			
			<div class="inline-citation text-left">
				aballos > avallo; i.e. [b] > [v] (p. 29; Endlicher’s Glossary)
				anman > anuan; i.e. [-nm-] > [-nw-] (p. 50; Larzac, Chateaubleau)
				iouincos > ioinchus; i.e. [c] > [x] (p. 191, anthroponomy)
				arganto- > arxanti; i.e. [g] > [γ] (Lambert 2003, p. 48; Suessons coin)
				         > arganthoneia; i.e. [t] > [θ] (p. 53; Galatian source)
				(g)nata > gnatha, i.e. [t] > [θ] (p. 181; spindle whorl of Saint-Révérien)
				litan- > lithan-, i.e. [t] > [θ] (p. 204; anthroponomy)
				ate- > atha-, i.e. [t] > [θ] (p. 57, p. 214; anthroponomy)
				*sisagsiou > siaxsiou, i.e. [g] > [γ] (p. 273; Chateaubleau)
				*agat > axat, i.e. [g] > [γ] (p. 63; Marcellus of Bordeaux)
				luge > luxe, i.e. [g] > [γ] (p. 210; Chamalieres)
				ambio > ape, i.e. [amb] > [ãb] (Bernard Mees 2010, Bhrghros 2013, pers. com.; 
						                                                       Chateaubleau and Rom)
				briuo > brio, i.e. [-w-] > [-ø-] (p. 89; Endlicher’s Glossary)
				iouinc- > ioinc-, i.e. [-w-] > [-ø-] (p. 191, anthroponomy)
				magiorix > maiorix, i.e. [-g-] > [-ø-] (Lambert 2003, p. 46; anthroponomy)
				catugenus > catuenus, i.e. [-g-] > [-ø-] (Lambert 2003, p. 46; anthroponomy)
				traget- > treide, i.e. [-g-] > [-i-] (p. 300; Endlicher’s Glossary)
				                               [-t-] > [-d-], (p. 300; Endlicher’s Glossary)
				*brogilos > breialo, i.e. [-g-] > [-i-] (p. 91; Endlicher’s Glossary)
				badio > * baδio > baio, i.e. [-d-] > [δ] > [-ø-] (p. 63, anthroponomy)
				Stirona > Ðirona > Sirona, i.e. [st-] > [ts-] > [s-] (p. 282, theonomy)
			</div>

			<p>
				The above instances can be summarised as follows:
			</p>
			
			<div class="inline-citation text-left">
				b > u (v)                                     amb > ãb, assimilation of nasal to vowel
				c > ch (x)                                    st > ts > s
				d > δ
				g > x (γ)
				g > i
				g > ø
				m > u (w)
				t > th (θ)
				t > d
			</div>
			<div style="clear: both;"></div>
			<p>
				In the above, the grapheme “x” is considered to represent the spirantisation of intervocalic “g” > [γ] (Delamarre 2003, p. 63, p. 210; Lambert 2003, p. 46, p. 48)
			</p>
			
			<p>
				An analysis of the above data indicates that the intervocalic consonants of Gaulish were subject to a process of spirantisation or fricativisation, which can be represented as follows:
			</p>
			
			<div class="inline-citation text-left">				
				p > p 
				t > th [θ]
				c > ch [x]
				b > u [v]
				* d > δ ?
				g > x [γ], i [j] or ø
				m > u [w]
				đ > ss [s]
				[mb > nasal-b]
			</div>
			<div style="clear: both;"></div>
			<p>
				The only exception to this appears to be the rendition of –t- as –d- in “treide”, which appears to indicate a voicing of an intervocalic consonant. Lambert (2003, p. 207) considers “treide” as having been treated as a word of Vulgar Latin and as such as having undergone Romance lenition, where intervocalic voiceless stops become voiced (Western Romance). In support, it is the opinion currently held by scholars in the field of Continental Celtic linguistics that the possibility that “treide” can be considered as indicative and representative of a genuine Gaulish sound change is negligeable (Bhrghros, Mees, Stifter, Gwinn pers. com. 2009).
			</p>
			
			<p>
				The remainder of the data appears to uniformly point towards a process of spirantisation of intervocalic consonants. The existence of lenition, the process of weakening of pronunciation of consonants, in this case through spirantisation or fricativisation, in Gaulish has been proposed and defended by Gray (1944), accepted by Fleuriot (in Delamarre 2003, p. 63), rejected and objected against by Lambert (2003) among many others (e.g Watkins 1955), and cautiously and somewhat sceptically regarded as a possibility by Delamarre (2003). Nevertheless, as Eska (2008) emphatically suggests, proposes and defends, the data appear to point in this direction.
			</p>
			
			<p>
				In addition to the above, there is widespread academic agreement on the disappearance of intervocalic –u- and –g- (Delamarre 2003; Lambert 2003). In regards to –g-, a position is here adopted where –g- becomes spirantised when occurring in consonant clusters, and becomes –i- in intervocalic position and word finally when preceded by a vowel:
			</p>
			
			<div class="inline-citation text-left">
				-Cg- > -Cγ- (e.g. argant- > arxant-)
				-gC- > -γC- 
			</div>
			<div style="clear: both;"></div>
			<div class="inline-citation text-left">
				-VgV- > -ViV- (e.g. brogil- > breial-)
				-Vg > -Vi
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Diphthongs</h2>
			
			<p>
				The sound change discussed above gives rise to a number of modern diphthongs which are not derived from inherited Indo European or Proto Celtic diphthongs:
			</p>
			
			<p>
				Classical Gaulish > Modern Gaulish
			</p>
			
			<div class="inline-citation text-left">
				dago > dái (good)
				aneg- > anéi (protect)
				brogi > brói (country)
				lugus > lúi (a god)
			</div>
			
			<p>
				This therefore produces the diphthongs:
			</p>
			
			<div class="inline-citation text-left">
				 ái, éi, ói, úi 
			</div>
			
			<p>
				in addition to the vowel inventory discussed previously.
			</p>
			
			<p>
				The Classical Gaulish diphthong –ou-, which itself was the result of an older –eu-, is also attested as undergoing an evolution:
			</p>
			
			<div class="inline-citation text-left">
				touta > tota, i.e. [ou] > [o:] (people, tribe, nation)
				crouco > crocu, i.e. [ou] > [o:] (hillock, hill, heap, pile)
			</div>
			
			<p>
				This indicates that:
			</p>
			
			<div class="inline-citation text-left">
				ou > o [o:]
			</div>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Consonant clusters</h2>
			
			<p>
				Several examples of the data analysed above provide information on what happens to stops as part of consonant clusters:
			</p>
			
			<div class="inline-citation text-left">
				argant- > arganthoneia: -nt- > -nth-
				argant- > arxant-: -rg- > -rx-
				iouinc- > ioinch-: -nc- > -nch-
			</div>
			
			<p>
				This indicates clearly that the process of spirantisation was productive across consonant clusters.
			</p>
		</div>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Tau Gallicum</h2>
			
			<p>
				The Tau Gallicum in Gaulish, represented by a wide variety of graphemes including đ, đđ, θ, θθ, ds, dd, tth, th, ts, ss and ss with a horizontal bar through it, is a matter of some controversy: some disagreement exists about its actual phonetic value. However, most scholars in the field of Continental Celtic linguistics agree that the Tau Gallicum represented a dental affricate [ts] (Delamarre 2003; Lambert 2003; Mees 2008, 2010; Eska 2008). Regardless of its original phonetic value, there is universal agreement that over the course of its attestation the sound of the Tau Gallicum evolved to become [s], which may become apparent from comparison with modern related languages, as well as with late Gaulish material. 
			</p>
			
			<div class="inline-citation text-left">
				e.g.: neđđamon > nesaf (“next” - Welsh)
				        miđ > mis (“month” – Welsh)
				        Meθθilus > Medsilus > Messilus (Lambert 2003, p. 46)
			                Caraθθounios > Carassounios (Lambert 2003, p. 46)
				        adsedo- > ađđedo- > assedo- (“reside, establish”, Delamarre 2003, p. 33)
				        stir- > đir- > sir- (“star”, Delamarre 2003, p. 282)
			</div>
			
			<p>
				Therefore, the change postulated for the Tau Galicum is:
			</p>
			
			<div class="inline-citation text-left">
				st, ts, đ > s
			</div>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>
