<div cass="spacer" id="spacer-id"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>3. Sound Changes</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Historical Changes</h2>
			
			<p>
				The process of the changing of the sounds of the Gaulish languages is one of the two main processes which transform it from an ancient language to a modern language, the other one being apocope, or the loss of final syllables, of which more later. The changing of the sounds of a language is best thought of as a process of phonetic erosion: over a certain period of time, by virtue of living in the mouths of people, the sounds of languages change. In a Western Indo European context, sound changes have been historically observed, recorded and extrapolated in the Romance, Germanic and Celtic language families.
			</p>
			
			<p>
				Very broadly speaking, in the Celtic language families there are two sets of sound changes that have affected the two separate surviving Celtic language families: the Brittonic (Welsh, Cornish, Breton) and the Goidelic (Irish, Scottish Gaelic, Manx). In the Brittonic language family, an important change that occurred was the voicing of intervocalic voiceless stops (* -ata- > * -ada-), and the spirantisation of voiced intervocalic stops (*-aba- > * -ava-). In a nutshell, pre-sound change intervocalic [p, t, c] became post-sound change intervocalic [b, d, g]; at the same time, pre-sound change intervocalic [b, d, g] became [v, δ, γ], the latter of which eventually disappeared; intervocalic [m] also became [v]. A number of changes also affected the Brittonic vowel system, but these are not relevant here.
			</p>
			
			<p>
				In the Goidelic branch of the Celtic language family, intervocalic voiceless stops were spirantised: [t, c] became [θ, x] (Goidelic did not have the sound [p]). At the same time, intervocalic voiced stops became spirantised as well: [b, d, g] became [v, δ, γ], as in Brittonic. Goidelic also experienced a shift of emphasis towards the first syllable of a word, which, in words of more than two syllables, typically resulted in the loss of the second syllable, a process referred to as syncope. 
			</p>
			
			<p>
				The two sound changes outlined above are clearly illustrated in the respective treatment by the two language families of the word “Caratacos”, “beloved-like/ loveable”, which is attested in Classical Gaulish as well as in Welsh and Irish. 
			</p>
			
			<li>
				Classical “Caratacos” > Welsh “Caradog” (voicing of voiceless stops)
			</li>
			
			<li>
				Classical “Caratacos” > Irish “Carthach” (aspiration of voiceless stops)
			</li>
		</div>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Changes in Gaulish</h2>
			
			<p>
				The sound changes described above occurred in the respective language families around the 5th-6th centuries CE, again broadly speaking, in a period of considerable political and social upheaval in Western Europe, which appears to have triggered a period of linguistic innovation and change. 
			</p>
			
			<p>
				It can be reasonably expected that the Gaulish language, at that time, was subject to the same pressures that caused sound changes in its neighbouring and related languages, and therefore also experienced a process of sound change. In order to construct Gaulish as a modern language, it is important and essential to discern and to apply this sound change. Therefore, the available Gaulish material has been investigated for clues as to what this change might have been like. 
			</p>
			
			<p>
				Below are presented epigraphic instances of genuine, attested Gaulish material that testify to changes at work in the phonology of the language. Most of these, if not all, can be found in Delamarre 2003, as per individual reference, unless otherwise specified; when available, their primary source is included and follows the page number in Delamarre 2003.
			</p>
			
			<li>
				
			</li>
		</div>
	</div>
</div>
