<div class="spacer"></div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>5. The Verbal Paradigm</h2>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<blockquote class="inline-citation text-left">
The verbal paradigm is an area of greyness and uncertainty in the study of Gaulish. While a considerable number of verbal forms are known and understood, no full conjugations are available in any tense, mood or aspect. Therefore, modern Gaulish proposes a verbal paradigm in which verbs are not conjugated, but are instead marked for number and person by way of personal pronouns. This is not unusual in the context of Celtic languages and in the broader framework of western and northern European languages. For instance, the Gaelic languages conjugate only two out of seven persons and number for regular verbs, their copula is uniform across all seven persons and numbers, all Brittonic languages have verbal constructions where al persons use the third person singular form, in the French language the conjugations of all but the first and second plural number are phonetically indistinguishable, western Germanic verbs often only have two or three forms, and continental Scandinavian languages only have one. 
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class"manifest">
		<div>
			<h2>Verb Classes</h2>
			
			<blockquote class="inline-citation text-left">
Gaulish shows indications of having had several classes of verbs. Among these, thematic as well as athematic forms can be distinguished. Examples of some of these are:

     Thematic: uediiu-mi, liiu-mi, iegu-mi
     Athematic: peta-me, senant, dama, axat

Tentative, approximative historical paradigms for the present tense of the above could be drawn up as such for the verbs “uedi-“ (to pray) and “peta” (to ask):
			</blockquote>
			
			<%= image_tag('verb-classes.png') %>
			
			<blockquote class="inline-citation text-left">
It would seem that personal pronouns were used as clitics in combination with conjugation endings. It is posited here that with the evolution of apocope and phonetic erosion, these conjugation endings were eroded and lost, leaving a bare stem or verbal root, followed by personal pronouns to convey information regarding person, number and gender. In modern Gaulish, ten tenses are constructed using this verbal root and a number of pre-verbal particles and suffixes that are attested in the Gaulish material.
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Present Tense</h2>
			
			<blockquote class="inline-citation text-left">
It is proposed here that through apocope and phonetic erosion verbal stems are left with a vestigial conjugation vowel, accompanied by a personal pronoun (itself reduced and eroded) to accord information about person and number. For reasons of practicality, unambiguousness and ease of pronunciation, it is suggested here that all verbal stems take the vowel –a of the erstwhile athematic ending in combination with the appropriate personal pronoun. Verbal stems ending on a vowel (i or é) therefore drop that vowel and add –a:

For instance, the verbal stem uedi- goes through the following evolution:

     uediiu > uedii- > guedi > gwédhi 

The form “gwédhi” has thus become the new verbal stem for the verb “to pray”. This verbal stem is a verbal noun with specific and special properties, which will be discussed in detail below.

To mark the new verbal stem “gwédhi” for person and number in the present tense, the word final vowel –i is dropped, and replaced with –a:

     gwédhi > gwédha

This present tense form of the verb “gwédhi” is then endowed with the appropriate personal pronoun to convey information about person and number:

     gwédha mi: I pray
     gwédha ti: you pray
     gwédha é/í: he/she prays
     gwédha ni: we pray
     gwédha sú: you (pl.) pray
     gwédha sí: they pray

Exceptions to this model are mono syllabic verbs on a vowel, -í or other. Unlike all other verbal stems, these forms do not lose their word final vowel, but instead add the present tense marking word final vowel –a on after the vowel:

e.g.: bé: to cut
       > béa mi: I cut

        gní: to know
        > gnía mi: I know
        
Verbal stems ending in consonants simply add the vowel –a to the end of the word:

e.g.: gwel: to want
        gwéla mi: I want

e.g.: ápis: to see
       apísa mi: I see

The verb “ávó”, the only modern Gaulish verbal stem to end in –o, drops its word final –ó and replaces it with the present tense marker –a:

e.g.: ávó: to do, to make
        áva mi: I do, I make

There are some verbal stems that end in –a. These retain their final –a and remain unchanged throughout the present tense:

e.g.: cara: to love
        cara mi: I love
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Past Tense</h2>
			
			<blockquote class="inline-citation text-left">
The past tense in modern Gaulish is constructed by way of the preverbal particle “ré” placed before the verbal stem. This particle is identified in “readdas”, “(has)placed” (Delamarre 2003, p. 255), and is asserted as having been used to construct the past tense by Eska (2008, p. 869). Similar use of this particle is known in the Insular Celtic languages (e.g. Old Irish, Cornish). There is no change to the end of the verbal stem: stems in i or é retain these. However, the initial consonant of the verbal stem changes in accordance to the systematic modification of word initial consonants known as Initial Consonant Mutation (ICM). This will be discussed in great detail further below.

e.g.: gwel: to want
        ré chwel mi: I wanted

e.g.: ápis: to see
        ré hápis mi: I saw

This construction is postulated on the basis of the attestation of preverbal particle “re” in Gaulish past tenses (e.g. readdas, Lambert 2003, p.66, Delamarre p. 255), which has been identified as giving a “perfective value” or “diverse modalities” to verbs (Delamarre 2003, p. 261). Furthermore, the use of re (> *ro) in the formation of past tenses is well attested in insular Celtic, not only in Old Irish (De Bernardo-Stempel n. d., Williams 1908), but also in Late Cornish (Norris 1859, p. 49, Williams 1908) and Old to Middle Welsh (Williams 1908). While “re” is most often, though not always, associated with the perfective tense in the other languages, it has been identified by Eska (2008, see above) as being used in Gaulish to construct the past tense. Therefore, modern Gaulish employs it as such. 
			
An important corrollary of this past tense formation is that it illustrates quite clearly that ancient Gaulish used the process of re-analysis of a preposition as an aspect marker. The pre-verbal, past tense-marking particle “re” is derived from an inherited Indo European preposition *pre-, meaning “before” (Indo European *pre- > Proto Celtic *φre- > Celtic re-), well attested in other languages (e.g. Latin). As such the phrase “ré hápis mi”, “I saw”, is semantically derived from a prepositional phrase “before I see” > “I saw”. This fact is very important in the discussion about the formation of the progressive form, which will be discussed in detail in the appropriate section below.
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Future Tense</h2>
			
			<blockquote class="inline-citation text-left">
The future is constructed by way of the suffix –sí, from attested *-si(o), which is identified as a marker for the future (Delamarre 2003, p. 251; Lambert 2003, p. 65). The emphasis is put on this marker: apisí mi.

e.g.: gwelsí mi: I will want
        ápisí mi: I will see

Verbal stems ending on vowels add the suffix –sí to the end vowel:

e.g.: rethi: to run
        rethisí mi: I will run

        ávó: to do / make
        ávósí mi: I will do / make
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Present Perfect</h2>
			
			<blockquote class="inline-citation text-left">
present perfect formation of ancient Gaulish is reliably attested in a number of instances. The first of these involve the well known and discussed form “carnitu”, found in the funerary inscriptions of Todi:

       carnitu artuas Coisis Druticnos = has-built tomb Coisis Druticnos
                                                              > C. D. has built the tomb
  > carnitu- = has built 
       (Delamarre 2003, p. 106; Lambert 2003, p. 75-77)

The form “carnitu” is universally accepted as being the present perfect form of a verb “carni-“, “to pile up stones” (Delamarre 2003, p. 106). 

A further attestation of a present perfect form is found at Chateaubleau:

        iexstumisendi = iexstu-mi-sendi = have-cursed-I-this
                                                                > I have cursed this
        (Mees 2010, p. 105)

From the above examples it is possible to deduce that the present perfect verbal form in ancient Gaulish was constructed with the suffix “-tu”, followed by the subject of the phrase:

        carnitu C. D. = has built C. D.
        iexstu mi = have cursed I

A similar construction is found in the Irish verbal adjective on –te, -ta, –the, -tha, which is also attested in ancient Gaulish, e.g. “nantosuelta”. This is translated as “vallee ensoleilé”, “sunned valley” (Hansen 2012, Bhghros 2012 pers. com.), with the second component “suelta” literally meaning “ensoleillé”, i.e. .”sunned”, or, in English, “sunny”. See also “lubitias” and “caratos” (Delamarre 2003, p. 209, 107). Therefore, it is posited here that the present perfect form in modern Gaulish will be constructed with the verbal suffix “–thu”, followed by the subject of the phrase. 

e.g.: carni: to build
        carníthu mi: I have built

        gar: to call: 
        garthu mi: I have called

        gwelthu mi: I have wanted

        gní: to know
        gníthu mi: I have known

However, for verbal stems ending on –thi, -dhi or –s, this suffix is reduced to 
-ú. Stems on –thi and –dhi drop their final vowels –i and instead affix –ú. Stems on –s affix –ú after the –s. In both cases, this perfective marker –ú receives the emphasis. 
			
The reason for the use of emphasised –ú rather than regular –thu for stems on –thi and –dhi is that the addition of –thu would result in a word that is altogether too fricative for ease of pronunciation: rethíthu would be awkward to pronounce. Therefore a position is adopted here that holds that the two successive fricatives have assimilated to form just one: *rethíthu > *rethú; *gwedhíthu > *gwedhú.

In the case of verbal stem on –s, a perfect form with ending –sú would be the normal phonetic end-result of the suffixation of –s with (pre-sound change) –tu, giving *-stu, which, through regular Gaulish sound changes, would assimilate to –sú (-stu > -tsu > -ssu > -su). Therefore, stems on –s take the perfective marker –ú. The use of a perfective marker –u is attested in the forms “ieuru, iouru”, “has offered/ has dedicated” (Delamarre 2003, p. 188-89) and “tioinuoru”, “has produced” (Delamarre 2003, p. 297).

e.g.:rethi: to run
       rethú mi: I have run

       gwédhi: to pray
       gwedhú mi: I have prayed

       ápis: to see
       apisú mi: I have seen

       brís: to break
       brisú mi: I have broken
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Past Perfect</h2>
			
			<blockquote class="inline-citation text-left">
The past perfect is constructed with the preverbal particle “ré” before the present perfect form:

e.g.: ré garníthu: I had built
        ré chwelthu: I had wanted
        ré rhethú mi: I had run
        re hapisú mi: I had seen

As with the past tense, the first consonant of the verbal stem undergoes mutation.				
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Future Perfect</h2>
			
			<blockquote class="inline-citation text-left">
For the future perfect the future marking suffix –sí is inserted between the verbal stem and the perfective marker –thu, which is the only one used, since the insertion of the future marker –si between the verbal stem and the perfect marker removes the phonetic issues that give rise to the use of –ú only in the present and past perfect: 
			
e.g.: carnisíthu mi: I will have built
        gwelsíthu mi: I will have wanted
        rethisíthu mi: I will have run
        apisíthu mi: I will have seen			
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Conditional Perfect</h2>
			
			<blockquote class="inline-citation text-left">
For the conditional perfect, the preverbal preterising particle “ré” is placed before the future perfect form:

e.g.: ré garnisíthu mi: I would have built
        ré chwelsíthu mi: I would have wanted
        ré rhethisíthu mi: I would have run
        ré hapisíthu mi: I would have seen
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Imperative</h2>
			
			<blockquote class="inline-citation text-left">
The imperative form is well attested in ancient Gaulish (Delamarre 2003, p. 173, 209), and consists of the bare verbal stem, with imperative intonation:

e.g.: carni!: build!
        gar!: call!
        réthi!: run!
        ápis!: see!
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Verbal Noun</h2>
			
			<blockquote class="inline-citation text-left">
In addition to not having any conjugations, Gaulish does not have an infinitive either. Instead it uses the bare stem of the verb, referred to as a “verbal noun”. The verbal noun in the Celtic languages is a word that can at the same time function as a verb and as a noun, and is an important component of the verbal paradigm. As a verb, it carries an infinitival meaning: “gar” means “to call”. However, as a noun “gar” also has the meaning of “the calling”. 

e.g.: gar: to call / the calling
        ápis: to see / the seeing
        réthi: to run / the running

The verbal noun follows modal verbs directly:

e.g.: gwéla mi ápis: I want to see / I want seeing
        gwéla mi réthi: I want to run / I want running    
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box1">
	<div class="manifest">
		<div>
			<h2>Direct Object of a Verbal Noun</h2>
			
			<blockquote class="inline-citation text-left">
An important aspect of the fact that the verbal noun is a noun is the treatment of the direct object of a verbal noun:

e.g.: gwéla mi ápis ép: I want to see a horse (ép < epos “horse”, Delamarre 2003, p. 163-
                                                                        64)

This is actually a genitival construction, of which more further below. Because genitive in modern Gaulish is expressed by apposition, the phrase “ápis ép” really means “the seeing of a horse”. Because the genitive in Gaulish is not marked in any way on a noun, this looks and translates exactly the same as “to see a horse”. However, when personal pronouns are the direct object of a verbal noun, this genitive is expressed explicitly. For this the genitive particle i- is used, derived from the attested forms “imon” and “imi”, both meaning “mine” (masculine and feminine respectively) (Delamarre 2003, p. 189-90). This particle is followed by fused forms of the personal pronouns:

e.g.: gwéla mi ápis ithí: I want the seeing of you = I want to see you

Without the use of the particle i-, the above phrase would be:

       gwéla mi ápis ti = I want the seeing you

This is not possible.

The particle i- is not otherwise used in many other contexts: it only occurs as the genitival marker for the personal pronouns as used as direct object of a verbal noun, and to indicate ownership of objects in conjunction with personal pronouns only. As such, it behaves like a preposition in the way it fuses with the pronouns:

     imí: of-me
     ithí: of-you
     iché: of-him
     ichí: of her
     iní: of-us
     isú: of-you (pl.)
     ichís: of them

The third person singular and plural forms are formed with the semantically empty particle –ch- for phonetic reasons, as in the fusion of prepositions with pronouns. See above.
			
e.g.: gwéla mi ápis ithí: I want the seeing of you = I want to see you

Without the use of the particle i-, the above phrase would be:

       gwéla mi ápis ti = I want the seeing you

This is not possible.

The particle i- is not otherwise used in many other contexts: it only occurs as the genitival marker for the personal pronouns as used as direct object of a verbal noun, and to indicate ownership of objects in conjunction with personal pronouns only. As such, it behaves like a preposition in the way it fuses with the pronouns:

     imí: of-me
     ithí: of-you
     iché: of-him
     ichí: of her
     iní: of-us
     isú: of-you (pl.)
     ichís: of them

The third person singular and plural forms are formed with the semantically empty particle –ch- for phonetic reasons, as in the fusion of prepositions with pronouns. See above.
			</blockquote>
		</div>
	</div>
	<div class="next">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
</div>

<div class="box box2">
	<div class="manifest">
		<div>
			<h2>Summary of Verbal Paradigm</h2>
			
			<blockquote class="inline-citation text-left">
The following table provides an overview of the verbal paradigm in modern Gaulish. Examples are given for verbal stems on a consonant, on –thi and on –s. All verbal forms are marked for person and number by personal pronouns only; only the first person singular is given.
			</blockquote>
			
			<%= image_tag('verb-summary.png') %>>
		</div>
	</div>
</div>

<div class="inline-citation text-left">
	<div class="manifest">
		<div>
			<h2>The Verb "To Be"</h2>
			
			<blockquote class="inline-citation text-left">
The verb “to be”is the only irregular verb in the modern Gaulish language. Its formation is different from that of all other verbs.

The verbal noun may be derived from the attested Gaulish word “bissiet” (Delamarre 2003, p. 76). This can be analysed as containing the future marker –si, suffixed to what appears to be the verbal root “bis-”: bis+si (future marker)+ -et (3rd p.s. ending) (analysis by Lambert, discussed in Delamarre 2003, p. 76). The attested form has a double –ss- which does not appear to indicate a Tau Gallicum. A similar double –ss- is found in the attested form “pissiiumi” (Demarre 2003, p. 251). Since in the latter case the word “pissiiumi” is analysed as consisting of a future marker –si- suffixed to a verbal stem “pis-”, it is reasonable to extend this to “bissiet” and by analogy to deduce that “bis-“ represents the verbal stem or verbal noun.
			
 The present tense is thought to be attested in the form “esi” (Delamarre 2003, p. 167). While “esi” is thought to be either a 2nd or a 3rd person singular, a position is proposed here where “esi” is the verbal stem that is used across the present tense, augmented with personal pronouns to mark for person and number, as is the case with all other verbs in modern Gaulish.

The past may be derived from the form “buetid”, (Delamarre 2003, p. 93-94). Comparisons with Welsh (Modern Welsh “bues i” = “I was”; Middle Welsh “bu” 3rd p. s., “was”) suggests that it is reasonable to accord a past value to this form. As such, the verbal stem to be used across the past tense will be “bú”.

The future form may be found in the attested forms “bissiet, bisiete” (Delamarre 2003, p. 76), as well as, possibly, in the form “biiete” (Delamarre 2003, p. 74-75). Again, comparison with Welsh (Modern Welsh “bydda i”: “I will be”; Middle Welsh “byd” 3rd p. s., “will be”) permits to posit that this form holds a future indicating connotation. As such, the verbal stem to be used across the future tense will be “bí”.

A conditional form is not attested, but may be constructed by analogy with the paradigm of all other Gaulish verbs. As such, the preceding of the future form “bí” by the preverbal particle “ré” will denote the conditional form: “ré ví”, with mutation of the first letter of the verbal form, as discussed previously.

An imperative is attested in Chamalieres as “sete”, from which a modern form “séthé”, “be!” can be derived (Mees 2010).

Finally, a perfect present may be attested in the form “biietutu” (Delamarre 2003, p. 75). While this is unsupported academically, a position is proposed here where the component “-etu-“ represents the perfect present form of to be: éthu mi = I have been. 

The above form can further be analysed as a fusion of future stem “bi” + “etu”, which would, in analogy with the perfective tense formation of the other Gaulish verbs, therefore amount to the construction of the perfect future: “bietu-“, becoming “biéthu mi”, “I will have been”. Again, this is unsupported academically, but is plausible and can reasonably be argued in favour of.

An analogy with the above would then permit the construction of a perfect past with the past verbal stem “bu-“, fused with the perfective “etu-“. This would give “buéthu mi”, “I had been”. Once again, there is no academic support for this position, but it is plausible and can reasonably be argued in favour of.

Lastly, a perfect conditional would then, by analogy with the construction of other verbs in modern Gaulish, be able to be constructed by means of the preverbal particle “ré”, preceding the perfect future form. This would give “ré viéthu mi”, “I would have been”.
			</blockquote>
		</div>
	</div>
</div>
